{% extends 'layout-full-width.html.twig' %}

{% block contentFullWidth %}

{% block title %} Haruki |Creation de liste {% endblock %}
<div class="container m-4">
    <h1>Création d'une liste de lecture:</h1>
</div>

<div class="container">
    {{ form_start(form, {'action': path('app_member_createList')}) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.titre) }}
            <div class="boxed">
            {{ form_row(form.series) }}
            </div>
        </div>
        <div class="d-flex flex-row">
            <a href="{{ path('app_member_readList') }}" class="btn btn-outline-primary mb-4 me-3">Retour</a>
            <button type="submit" class="btn btn-primary mb-4">Créer la liste</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}