{% extends 'layout-full-width.html.twig' %}

{% block contentFullWidth %}
	<div class="d-flex justify-content-end mt-4 mb-5">
		<a href="{{ path('app_member_createList') }}" class="btn btn-primary new-btn">Nouveau</a>
	</div>

	<h1>Listes de lectures</h1>


	{% if listes is not empty %}
		{% for liste in listes %}
			<div class="container limit-fav">
				<div class="container m-3">
					<h4>{{ liste.titre }}</h4>
				</div>
				<div class="container">
					<a href="{{ path('app_member_editList', { id: liste.id }) }}" class="btn btn-primary mb-2">modifier</a>
					<a href="{{ path('app_member_deleteList', { id: liste.id }) }}" class="btn btn-danger mb-2">Supprimer</a>
					<hr>
					<div class="container zoom d-flex flex-row flex-wrap">
					{% for serie in liste.serie %}
						<div class="bookCard">
							<a class="card overflow-hidden" href="{{path('app_detail_serie', {id:serie.id})}}">
								<img style="" src="{{ asset('assets/img/uploaded/' ~ serie.coverSerie) }}" alt="cover">

								<div class="card-body">
									<h5 class="card-title border-bottom border-1 border-danger"> {{ serie.nomSerie }}</h5>
									<p class="card-text"><em>ed. {{ serie.editeur }}</em></p>
									<p class="card-text">{{ serie.nbDeTomes }} tomes</p> 
								</div>
							</a>

							<div class="remove-from-list-trigger cursor-pointer" title="Retirer de la liste" data-serieId="{{ serie.id }}" data-listeId="{{ liste.id }}">
								<span class="material-symbols-outlined">close</span>
							</div>

							<div class="card-spinner d-none">
								<div class="spinner-border" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
					
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>Aucune liste de lecture disponible</p>

	{% endif %}
{% endblock %}