{% extends 'base.html.twig' %}


{% block body %}
<div class="container mt-4">
    <h3>Découvrez toutes nos références de manga:</h3>
</div>

<section class="col-12 row-5">
    <div class="book-list d-flex justify-content-center">

        {% for serie in series %}
            <div class="container zoom d-flex justify-content-center">
                <div class="bookCard">
                    <a class="card overflow-hidden" href="{{path('app_detail_serie', {id:serie.id})}}"> {# Ici j'appelle la page de détail de la série qui affiche les entité manga#}
                        <img style="" src="{{ asset('assets/img/uploaded/' ~ serie.coverSerie()) }}" alt="">
                        <div class="card-body">
                            <h5 class="card-title border-bottom border-1 border-danger">{{ serie.nomSerie }}</h5>
                            <p class="card-text"><em>ed. {{ serie.editeur }}</em></p>
                            <p class="card-text">{{ serie.nbDeTomes }} tomes</p>
                            
                        </div>
                        <button class="btn btn-outline-light mb-2" style="z-index:10">Ajouter</button>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>


        {# display navigation PAGINATION #}
    <div class= "container d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(series) }}
        </div>
    </div>

{% endblock %}